@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /* Color Variables */
  --primary-color: #FE0000;
  --secondary-color: #EA9400;
  --tertiary-color: #FFC300;
  --border-focus-color: #ffc4003b;
  --light-yellow: #FEE48D;
  --background-color: #fff;
  --text-color: #333;
  --box-color: #FFF;
  --body-color: #ffc40027;
  --border-color: #ccc;
  --accent-color: #FF5733;
  --anim: 0.3s;
  --dark-color: #191a20;


  /* Font Variables */
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-size-large: 18px;
  --font-size-small: 14px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* Spacing Variables */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  /* Box Shadow */
  --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
  font-family: var(--font-family);

  & a,
  & button {
    cursor: pointer;
  }
}

body {
  min-height: 100vh;
  color: var(--text-color);
  font-size: var(--font-size-base);
  background-color: var(--body-color);
}

/* nav */
nav {
  width: 100%;
  background-image: radial-gradient(var(--secondary-color), var(--tertiary-color), var(--light-yellow));

  & header {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 8px 12px;
    max-width: 1000px;
    position: relative;
    align-items: center;
    justify-content: space-between;

    & a {
      display: flex;
      align-items: center;
      letter-spacing: 2px;
      text-decoration: none;
      gap: calc(10px + 0.5vw);
      color: var(--primary-color);

      & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 2px 3px #fff;
      }

      & span {
        font-weight: bold;
        text-shadow: -1px 2px 2px #fff;
        font-size: clamp(var(--font-size-large), calc(var(--font-size-large) + 0.5vw), calc(var(--font-size-large) + 10px));
      }
    }

    & .coinPrice {
      padding: 4px 10px;
      background: #fff;
      border-radius: 25px;
      color: var(--secondary-color);
    }
  }
}

/* Hero */
.home-hero {
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  background: var(--box-color);
  padding-block: clamp(20px, calc(25px + 1vw), 50px);

  & .wrapper {
    width: 90%;
    margin: auto;
    max-width: 600px;

    & .header {
      width: 90%;
      margin: auto;
      display: flex;
      text-align: center;
      margin-bottom: 40px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: var(--dark-color);

      & h1 {
        margin-bottom: 10px;
        font-size: clamp(20px, calc(20px + 0.5vw), 30px);
      }

      & p {
        width: 95%;
        line-height: 1.5;
        font-size: clamp(14px, calc(12px + 0.5vw), 16px);
      }
    }

    /* Form */
    & .form {
      gap: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;

      & .form-wrapper {
        & .form-group {
          display: flex;
        }

        &.inputBox {
          & .form-group {
            gap: 20px;
            padding: 6px 12px;
            border-radius: 35px;
            border: 1px solid var(--border-color);

            & button {
              display: flex;
              min-width: 35px;
              min-height: 35px;
              line-height: 35px;
              border-radius: 50%;
              align-items: center;
              justify-content: center;
              color: var(--secondary-color);
              background: var(--body-color);

              & i {
                font-size: var(--font-size-base);
              }
            }

            & input {
              width: 100%;
              font-size: var(--font-size-base);
            }
          }
        }

        &.exchange {
          margin-bottom: 20px;

          & .form-group {
            gap: 15px;
            display: flex;
            justify-content: space-between;

            &>div {
              width: 58%;

              & button {
                width: 100%;
                font-weight: bold;
                padding: 12px 20px;
                text-align: center;
                border-radius: 25px;
                color: var(--primary-color);
                font-size: var(--font-size-small);
                background: var(--tertiary-color);
              }

              &:nth-child(2) {
                gap: 10px;
                display: flex;
                padding: 0 6px;
                border-radius: 25px;
                align-items: center;
                justify-content: space-between;
                border: 1px solid var(--border-color);

                & button {
                  min-width: 35px;
                  max-width: 35px;
                  min-height: 35px;
                  max-height: 35px;
                  display: flex;
                  line-height: 35px;
                  align-items: center;
                  justify-content: center;
                }

                & input {
                  width: 60%;
                }
              }
            }
          }
        }
      }

      & .result-wrapper {
        gap: 15px;
        text-align: center;
        flex-direction: column;

        &>i {
          width: 110px;
          margin: auto;
          height: 110px;
          display: flex;
          font-size: 60px;
          border-radius: 50%;
          align-items: center;
          margin-bottom: 10px;
          justify-content: center;
          color: var(--tertiary-color);
          background: var(--body-color);
        }

        & h3 {
          color: var(--dark-color);
          font-size: var(--font-size-large);
        }

        & .btns {
          gap: 15px;
          margin: auto;
          display: flex;
          padding: 10px;
          width: fit-content;
          align-items: center;
          justify-content: center;

          & button {
            width: 40px;
            height: 40px;
            display: flex;
            line-height: 40px;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            color: var(--tertiary-color);
            background: var(--body-color);

            & i {
              font-size: var(--font-size-base)
            }
          }
        }
      }

      & .history {
        & .history-header {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          padding-bottom: 15px;
          color: var(--dark-color);
          justify-content: space-between;
          border-bottom: 1px solid var(--border-color);

          & h3 {
            position: relative;
            font-size: var(--font-size-large);

            & span {
              left: 0;
              bottom: -8px;
              opacity: 0.6;
              font-size: 10px;
              position: absolute;
            }
          }

          & button {
            padding: 6px 8px;
            font-weight: bold;
            border-radius: 4px;
            color: var(--tertiary-color);
            background: var(--body-color);

            & i {
              margin-right: 5px;
              color: var(--tertiary-color);
            }
          }
        }

        & ul {
          gap: 8px;
          display: flex;
          flex-direction: column;

          &:has(li) div {
            display: none !important;
          }

          & div {
            text-align: center;
          }

          & li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & span {
              &:nth-child(1) {
                font-size: calc(var(--font-size-base) - 2px);
              }

              &:nth-child(2) {
                display: flex;
                font-size: calc(var(--font-size-small) - 2px);
              }
            }
          }
        }
      }
    }
  }
}

#exchangeChart {
  position: relative;
  width: 100% !important;
}

.required {
  width: 100%;
  display: none;
  text-align: center;
  color: var(--primary-color);
  font-size: var(--font-size-small);
}

.container{width:100%;max-width:800px;margin:30px auto;& h2{text-align:center;margin-bottom:20px;font-size:calc(var(--font-size-large) + 6px)}& .wrapper{gap:15px;width:95%;margin:auto;display:flex;flex-direction:column;& .accordion{position:relative;border-radius:25px;background:var(--box-color);box-shadow:var(--box-shadow-light);&:nth-child(1) span{background:var(--tertiary-color)}&:nth-child(2) span{background:#05a300}&:nth-child(3) span{background:#0099ff}&:nth-child(4) span{background:#ff0037}&:nth-child(5) span{background:#4200ac}&:nth-child(6) span{background:#ff4800}& button{gap:10px;width:100%;padding:6px;display:flex;position:relative;padding-right:20px;align-items:center;& span{color:#fff;display:flex;font-size:24px;min-width:38px;max-width:38px;max-height:38px;min-height:38px;font-weight:bold;border-radius:25px;align-items:center;justify-content:center}& h3{text-align:left;font-weight:normal;color:var(--dark-color);transition:font-size var(--anim);font-size:var(--font-size-small)}& i{top:50%;right:4%;position:absolute;transform:translateY(-50%);transition:transform var(--anim)}}& .contents{max-height:0;overflow:hidden;font-size:var(--font-size-small)}&.active{& button{& h3{font-weight:bold;font-size:var(--font-size-base)}& i{transform:rotate(-180deg)}}& .contents{gap:10px;display:flex;flex-direction:column;transition:max-height var(--anim);padding:4px calc(15px + .6vw) 15px calc(20px + .6vw);& p{line-height:1.5;color:var(--dark-color)}}}}}}
/* Jio To INR */
.jiotoinr{width:100%;margin:30px 0;margin-bottom: 0px; &:last-of-type {margin-bottom: 30px;} div{gap:20px;display:flex;align-items:center;justify-content:space-between;& b{gap:8px;display:flex;margin-block:20px;align-items:center;& img{width:25px;height:25px;border-radius:50%}}}& table{min-width:100%;border-collapse:collapse;& tbody{width:100%;& tr,& th,& td{border:1px solid #21212917}}& tr{& td,& th{text-align:center;padding:8px 15px;font-size:var(--font-size-small)}background:#fff;&:nth-child(odd){background:#1b1e250c}&:hover{background:#ffc40017}}}}


